<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhap tu khoa">
        </div>

        <div class="form-group">
            <label for="gender-input">Từ khóa</label>
            <select type="select" name="gender" class="form-control" id="gender-input" aria-describedby="emailHelp">
                <option value="">--Chon gioi tinh--</option>
                <option value="male">Name</option>
                <option value="female"> Nu</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
<div>